<div class="grid-column-8">
<h1>
  <%= @post.title %>
</h1>
<%= button_to 'Edit', edit_post_path(@post), method: :get %>

<p>
  <%= @post.body %>
</p>

<%= button_to 'Back', posts_path, method: :get %>
</div>
