<div class="default-neat-grid">
  <div class="grid-column-6">
  <%= image_tag("claudia.jpg", :class => "head", :alt => "claudia") %>
  </div>
  <div class="grid-column-6">
  </div>
  <div class="grid-column-12">
  <h2>Claudia Hartman</h2>

  <h3><%= link_to 'Blog', root_path %></h3>
  <h3><%= link_to 'Resume', '#' %></h3>
  <br>
  <h3><%= link_to 'New post', new_post_path%></h3>
  </div>
</div>

